<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MT5BatchTester.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MT5BatchTester.Settings>
            <setting name="MT5InstallationFolder" serializeAs="String">
                <value>C:\Program Files\MetaTrader 5\</value>
            </setting>
            <setting name="EAPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PresetsFolder" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="BacktestingPeriod" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ReportsFolder" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Deposit" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Leverage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Model" serializeAs="String">
                <value>4</value>
            </setting>
        </MT5BatchTester.Settings>
    </userSettings>
</configuration>